---
import SectionRenderer from '../components/SectionRenderer.astro';
import { homepageModules } from '../config/homepage';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="home-page" id="top">
    {homepageModules.map((module) => <SectionRenderer module={module} />)}
  </main>
</Layout>
