<header class="header">
  <div class="container nav">
    <div class="logo">Sound of Simone</div>
    <nav>
      <a href="#tjenester">Tjenester</a>
      <a href="#om">Om</a>
      <a href="#kontakt">Kontakt</a>
    </nav>
    <a class="btn-primary" href="#kontakt">Bestill time</a>
  </div>
</header>